@font-face {
  font-family: "myFont";
  src: url("./Basteleur-Bold.woff");
}
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading-container > svg {
  width: 100%;
  height: 100vh;
}

#load {
  margin-top: 25px;
  font-size: 21px;
  text-align: center;
  -webkit-animation: fadein 5s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 5s;
  /* Firefox < 16 */
  -ms-animation: fadein 5s;
  /* Internet Explorer */
  -o-animation: fadein 5s;
  /* Opera < 12.1 */
  animation: fadein 5s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "myFont", Arial, Helvetica, sans-serif;
}

.cutoff {
  z-index: -1;
  overflow: hidden;
  position: absolute;
  height: 100vh;
  width: 100%;
}

.svgbox {
  height: 100vh;
  width: 190%;
  -webkit-animation: fadein 1s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s;
  /* Firefox < 16 */
  -ms-animation: fadein 1s;
  /* Internet Explorer */
  -o-animation: fadein 1s;
  /* Opera < 12.1 */
  animation: fadein 1s;
  position: absolute;
  overflow: hidden;
}
@media (min-width: 992px) {
  .svgbox {
    width: 100%;
  }
}
.svgbox > svg {
  overflow: hidden;
}

.bodycontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  overflow: hidden;
  padding: 25px;
  z-index: 10;
}
@media (min-width: 576px) {
  .bodycontainer {
    flex-direction: column;
  }
}
@media (min-width: 768px) {
  .bodycontainer {
    flex-direction: column;
  }
}
@media (min-width: 992px) {
  .bodycontainer {
    flex-direction: row;
  }
}

.readout:hover {
  opacity: 0.8;
}

.readout {
  width: 90%;
  height: 15%;
  opacity: 1;
  background-color: white;
  border: 2px solid black;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: scroll;
  -webkit-animation: fadein 5s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 5s;
  /* Firefox < 16 */
  -ms-animation: fadein 5s;
  /* Internet Explorer */
  -o-animation: fadein 5s;
  /* Opera < 12.1 */
  animation: fadein 5s;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, */
}
@media (min-width: 768px) {
  .readout {
    width: 50%;
  }
}
@media (min-width: 576px) {
  .readout {
    width: 70%;
  }
}
@media (min-width: 992px) {
  .readout {
    width: 25%;
    height: 50%;
  }
}
.readout > ul > li {
  padding-top: 19%;
  list-style: none;
  font-family: Helvetica;
  letter-spacing: 2px;
  font-weight: light;
  font-size: 3vw;
  font-style: italic;
  text-align: center;
  line-height: 150%;
  word-spacing: 5px;
}
@media (min-width: 576px) {
  .readout > ul > li {
    padding-top: 10%;
  }
}
@media (min-width: 768px) {
  .readout > ul > li {
    font-size: 1.5vw;
  }
}
.readout > ul > li > span {
  list-style: none;
  font-family: Helvetica;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 3vw;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, */
  text-align: left;
  line-height: 150%;
  word-spacing: 5px;
}
@media (min-width: 768px) {
  .readout > ul > li > span {
    font-size: 1.5vw;
  }
}

.info:hover {
  opacity: 0.8;
}

.info {
  width: 90%;
  height: 15%;
  margin-bottom: 5%;
  overflow: scroll;
  -webkit-animation: fadein 5s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 5s;
  /* Firefox < 16 */
  -ms-animation: fadein 5s;
  /* Internet Explorer */
  -o-animation: fadein 5s;
  /* Opera < 12.1 */
  animation: fadein 5s;
  background-color: white;
  opacity: 1;
  border: 2px solid black;
  border-radius: 50px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
@media (min-width: 768px) {
  .info {
    width: 50%;
    height: 25%;
  }
}
@media (min-width: 576px) {
  .info {
    width: 70%;
    height: 20%;
    margin-bottom: 2%;
  }
}
@media (min-width: 992px) {
  .info {
    width: 25%;
    height: 50%;
  }
}
.info > p {
  font-family: Helvetica;
  font-weight: light;
  font-style: italic;
  font-size: 3vw;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, */
  text-align: center;
  line-height: 250%;
  padding: 2% 20%;
  word-spacing: 5px;
}
@media (min-width: 768px) {
  .info > p {
    font-size: 1.5vw;
  }
}

.calculator {
  width: 90%;
  height: 80%;
  margin-bottom: 5%;
  padding-bottom: 5%;
  -webkit-animation: fadein 7s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 7s;
  /* Firefox < 16 */
  -ms-animation: fadein 7s;
  /* Internet Explorer */
  -o-animation: fadein 7s;
  /* Opera < 12.1 */
  animation: fadein 7s;
  border: 2px solid black;
  border-radius: 25px;
  padding: 20px;
  background-color: #459ad1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 2.5fr 1fr 1fr 1fr 1fr;
  gap: 5%;
}
@media (min-width: 576px) {
  .calculator {
    width: 70%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-bottom: 2%;
  }
}
@media (min-width: 768px) {
  .calculator {
    width: 50%;
    margin-top: 5%;
    margin-bottom: 5%;
  }
}
@media (min-width: 992px) {
  .calculator {
    width: 45%;
  }
}
@media (min-width: 1200px) {
  .calculator {
    width: 40%;
  }
}
.calculator > * {
  background-color: white;
  border: 2px solid black;
  font-size: 4.5vw;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, */
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calculator > * :hover {
  transform: scale(1.02);
}
@media (min-width: 992px) {
  .calculator > * {
    font-size: 3.5vw;
  }
}
@media (min-width: 1200px) {
  .calculator > * {
    font-size: 3vw;
  }
}
.calculator > *:hover {
  opacity: 0.8;
}
.calculator__cell--screen {
  background-color: white;
  width: 100%;
  border-radius: 25px;
  padding: 15px;
  display: block;
  word-wrap: break-word;
  grid-column: 1/5;
}
.calculator__cell--screen > p {
  word-wrap: break-word;
  width: 100%;
  height: 100%;
}
.calculator__cell--dot {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20%;
}

/*# sourceMappingURL=main.css.map */
