@font-face {
  font-family: "myFont";
  src: url("./fonts/Basteleur-Bold.woff");
}

// small tablets/large smartphones (landscape)
$screen-sm-min: 576px;
// small tablets (portrait)
$screen-md-min: 768px;
// Tablets and small desktops
$screen-lg-min: 882px;
// large tablets/desktops
$screen-xl-min: 1200px;

// mixins

// small devices

@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

// medium devices

@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// large devices

@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

// extra-large devices

@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

// custom devices

@mixin rwd($screen) {
  @media (min-width: $screen+"px") {
    @content;
  }
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;

  & > svg {
    width: 100%;
    height: 100vh;
  }
}

#load {
  margin-top: 25px;
  font-size: 21px;
  text-align: center;

  -webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 5s; /* Firefox < 16 */
  -ms-animation: fadein 5s; /* Internet Explorer */
  -o-animation: fadein 5s; /* Opera < 12.1 */
  animation: fadein 5s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "myFont", Arial, Helvetica, sans-serif;
}

.cutoff {
  z-index: -1;
  overflow: hidden;
  position: absolute;
  height: 100vh;
  width: 100%;
  background-color: black;
}

.svgbox {
  height: 100vh;
  width: 190%;
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s; /* Firefox < 16 */
  -ms-animation: fadein 1s; /* Internet Explorer */
  -o-animation: fadein 1s; /* Opera < 12.1 */
  animation: fadein 1s;
  @include lg {
    width: 100%;
  }
  position: absolute;
  overflow: hidden;

  & > svg {
    overflow: hidden;
  }
}

.bodycontainer {
  display: flex;
  flex-direction: column;
  @include sm {
    flex-direction: column;
  }
  @include md {
    flex-direction: column;
  }
  @include lg {
    flex-direction: row;
  }
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  overflow: hidden;
  padding: 25px;
  @include md {
    padding: 10px;
    padding-top: 15px;
  }
  z-index: 10;
}

.readout:hover {
  opacity: 0.8;
}

.readout {
  width: 90%;
  @include md {
    width: 50%;
  }
  @include sm {
    width: 70%;
  }
  @include lg {
    width: 25%;
    height: 50%;
  }
  height: 15%;
  opacity: 1;
  background-color: black;
  border: 2px solid white;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: scroll;
  -webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 5s; /* Firefox < 16 */
  -ms-animation: fadein 5s; /* Internet Explorer */
  -o-animation: fadein 5s; /* Opera < 12.1 */
  animation: fadein 5s;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, */
  & > ul {
    @include md {
      padding-top: 2%;
    }
    @include lg {
      padding-top: 5%;
    }
  }
  & > ul > li {
    padding-top: 15%;
    @include sm {
      padding-top: 10%;
    }
    @include md {
      padding-top: 2%;
    }
    list-style: none;
    font-family: Helvetica;
    letter-spacing: 2px;
    font-weight: light;
    font-size: 4vw;
    @include md {
      font-size: 2.5vw;
    }
    @include xl {
      font-size: 2vw;
    }
    font-style: italic;
    color: white;
    text-align: center;
    line-height: 150%;
    word-spacing: 5px;
    & > span {
      list-style: none;
      font-family: Helvetica;
      letter-spacing: 2px;
      font-weight: bold;
      font-size: 4vw;
      color: white;
      -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
      -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
      user-select: none; /* Non-prefixed version, */
      @include md {
        font-size: 2.5vw;
      }
      @include xl {
        font-size: 2vw;
      }
      text-align: left;
      line-height: 150%;
      word-spacing: 5px;
    }
  }
}

.info:hover {
  opacity: 0.8;
}

.info {
  width: 90%;
  height: 15%;
  margin-bottom: 5%;
  overflow: scroll;
  -webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 5s; /* Firefox < 16 */
  -ms-animation: fadein 5s; /* Internet Explorer */
  -o-animation: fadein 5s; /* Opera < 12.1 */
  animation: fadein 5s;
  @include md {
    width: 50%;
    height: 25%;
    margin-bottom: 0%;
  }
  @include sm {
    width: 70%;
    height: 20%;
    margin-bottom: 2%;
  }
  @include lg {
    width: 25%;
    height: 50%;
  }
  background-color: black;
  opacity: 1;
  border: 2px solid white;
  border-radius: 50px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  & > p {
    font-family: Helvetica;
    font-weight: light;
    font-style: italic;
    font-size: 4vw;
    color: white;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, */
    @include md {
      font-size: 2.5vw;
    }
    @include xl {
      font-size: 2vw;
    }
    text-align: center;
    line-height: 250%;
    padding: 2% 20%;
    word-spacing: 5px;
  }
}

.calculator {
  width: 90%;
  height: 80%;
  margin-bottom: 5%;
  padding-bottom: 5%;

  -webkit-animation: fadein 7s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 7s; /* Firefox < 16 */
  -ms-animation: fadein 7s; /* Internet Explorer */
  -o-animation: fadein 7s; /* Opera < 12.1 */
  animation: fadein 7s;
  @include sm {
    width: 70%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-bottom: 2%;
  }
  @include md {
    width: 50%;
    margin-top: 0%;
    margin-bottom: 2%;
  }
  @include lg {
    width: 45%;
  }
  @include xl {
    width: 40%;
  }
  border: 2px solid black;
  border-radius: 25px;
  padding: 20px;
  background-color: #459ad1;

  display: grid;

  // set columns
  // fr is a fractional unit

  grid-template-columns: 1fr 1fr 1fr 1fr;

  // set rows

  grid-template-rows: 2.5fr 1fr 1fr 1fr 1fr;

  gap: 5%;

  & > * {
    background-color: white;
    border: 2px solid black;
    font-size: 5.5vw;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, */
    & :hover {
      transform: scale(1.02);
    }
    @include lg {
      font-size: 3.5vw;
    }
    @include xl {
      font-size: 2.5vw;
    }
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & > *:hover {
    opacity: 0.8;
    transform: scale(1.05);
  }

  &__cell--screen {
    background-color: white;
    width: 100%;
    border-radius: 25px;
    padding-top: 20%;
    @include rwd(400) {
      padding-top: 14%;
    }
    @include sm {
      padding-top: 12%;
    }
    @include md {
      padding-top: 12%;
    }
    @include lg {
      padding-top: 15%;
    }
    display: block;
    overflow: scroll;
    text-align: center;

    word-wrap: break-word;
    & > p {
      word-wrap: break-word;
      text-align: center;
      max-width: 90%;
      height: 100%;
    }

    // set grid column -> starts / ends
    grid-column: 1 / 5;
  }
  &__cell--dot {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20%;
  }
}
